/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
.title{
    font-size: large;
    font-weight: initial;
    margin-left: 30px;
    line-height: 70px;
    color: #ff8856;
}
.title img {
    height: 70px;
    width: 100px;
    margin-left: 0px;
}
.introduction {
    font-size: 60px;
    color: #8ef1ff;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 3px #000000;
}
.explanation {
    font-size: 30px;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
}
.name {
    font-size: 35px;
    font-weight: bolder;
    
}
p {
    font-size: 20px;
    font-weight: lighter;
}
.about-left {
    margin-left: auto;
    margin-right: auto;
    color: #ff8856;
    font-size: 60px;
    font-weight: 100;
    border-bottom: solid 3px #000000;
}
.stadium {
    float: left;
    clear: both;
}
.about-right {
    font-size: 50px;
    font-weight: bolder;
}
.title img {
    width: 30%;
    height: 20%;
    opacity: 0.5;
    position: absolute;
}
