/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
header {
    height: 70px;
    background: #000;
}
.header-logo {
    font-size: 20px;
    font-weight: bold;
    margin-left: 35px;
    color: #f2f2f2;
    line-height: 70px;
    text-align: center;
}
.header-nav li {
    display: inline-block;
    margin-right: 35px;
    font-size: 16px;
}
.header-nav a {
    color: #f2f2f2;
}
.section {
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0;
    text-align: center;
}
img {
    display: block;
    width: 100%;
}
.wrap {
    width: 80%;
    margin: 0 auto 50px;
}
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.between {
    justify-content: space-around;
}
.around {
    justify-content: space-around;
}
#eyecatch {
    height: 600px;
    background: url(img/baseball.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
#eyecatch p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 100px;
    font-style: italic;
    font-weight: bold;
    color: #ccc;
    line-height: 1;
}
h2 {
    text-align: center;
}
.about-right h3,.about-right p {
    margin-bottom: 15px;
}
.about-left,.about-right {
    width: 45%;
}
.about-right ol {
    list-style-position: inside;
}
#business {
    background: url(img/run.jpg) no-repeat;
    background-size: cover;
} 
#business .section-title {
    color:#fff;
    padding: 40px 0;
    margin: 0;
} 
.business-wrap {
    text-align: center;
}
.business-cat {
    width: 28%;
    background-color: rgba(51, 51, 51, 0.5);
    padding: 20px 35px 30px;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.business-cat h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}
.business-cat p {
    color: #fff;
}
.business-cat img {
    width: 100px;
    height: auto;
    margin: 0 auto 10px;
}
#company {
    padding: 40px 0 70px 0;
}
#company .contain {
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
}
#company table tr {
    border-bottom: 1px solid #333333;
}
#company th, #company td {
    text-align: left;
}
#company th {
    padding: 10px 0;
}
.contact {
    background: rgb(241,241,241);
}
.contact .section-title {
    padding: 40px 0;
    margin: 0;
}
.form {
    width: 70%;
    margin: 0 auto;
}
.form > div input {
    margin-bottom: 20px;
    padding: 7px;
}
label {
    display: inline-block;
    width: 30%;
}
input,textarea {
    box-sizing: border-box;
    border: 1px solid #999;
    width: 65%;
}
textarea {
    vertical-align: top;
    height: 15em;
}
.button-submit {
    text-align: center;
}
.button {
    padding: 10px 30px;
    background-color: #000;
    color: #fff;
    margin: 30px 0;
}
#footer {
    height: 80px;
    text-align: center;
    line-height: 80px;
}
/* #hamburger, .menu-content{
    display: none;
}
#hamburger.active span:nth-of-type(1) {
    top: 20px;
    transform: rotate(45deg);
}
#hamburger.active span:nth-of-type(2) {
    opacity: 0;
}
#hamburger.active span:nth-of-type(3) {
    top: 20px;
    transform: rotate(-45deg);
} */
@media screen and (max-width: 768px) {
    #hamburger {
        width: 40px;
        height: 40px;
        position: absolute;
        cursor: pointer;
        z-index: 100;
        top: 15px;
        right: 20px;
        transition: .4s;
    }
}
#hamburger span {
    position: absolute;
    left: 2px;
    display: block;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transition: .8s;
}
#hamburger span:nth-of-type(1) {
    top: 10px;
}
#hamburger span:nth-of-type(2) {
    top: 20px;
}
#hamburger span:nth-of-type(3) {
    top: 30px;
}
@media screen and (max-width:768px) {
    .header-nav { 
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .about-left,
    .about-right {
        width: 80%;
    }
}
@media screen and (max-width:768px) {
    .business-cat {
        width: 80%;
    }
}
label {
    display: inline-block;
    width: 30%;
}
@media screen and (max-width: 768px) {
    label {
        display: block;
    }
}
/* .form > div {
    margin: 0 auto;
}
input,textarea {
    width: 100%;
}
.red {
    color: red;
}
.show {
    display: none;
}
.text {
    cursor: pointer;
} */

.menu-content{
    display: none;
}
#hamburger.active span:nth-of-type(1) {
    top: 20px;
    transform: rotate(45deg);
}
#hamburger.active span:nth-of-type(2) {
    opacity: 0;
}
#hamburger.active span:nth-of-type(3) {
    top: 20px;
    transform: rotate(-45deg);
}
@media screen and (max-width: 768px) {
    .menu-content{
        display: block;
    }
    .menu-content .menu-title {
        margin: 40px 20px;
        font-size: 2.2rem;
        color: #333333;
        text-align: left;
        font-weight: bold;
    }
}
.menu-content {
    width: calc(100%-80px);
    height: 100%;
    text-align: center;
    transition: .2s;
    position: fixed;
    top: 0;
    left:calc(-100%-80px);
    background: #fff;
    color: #333333;
    box-shadow: 80px 0 rgba(38, 98, 213, 0.3);
}
.menu-content li a {
    color: #333333;
    margin: 15px;
    padding: 5px;
    border-bottom: 0.5px solid #2662d5;
    text-decoration: none;
    display: block;
}
.menu-content li {
    width: 100%;
    text-align: left;
}
.menu-content.open {
    left: 0;
}
#top-btn {
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
}
#menu {
    font-size: 0;
    background: #000;
    text-align: center;
}
#menu li {
    color: #fff;
    background: #000;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
}
#menu li a {
    text-decoration: none;
}
#menu > li {
    display: inline-block;
    position: relative;
}
.child {
    position: absolute;
    width: 100%;
    z-index: 999;
    left: 0;
}