/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
header {
    background: #ffd5ec;
}
.header-logo {
    font-size: 80px;
    font-family: serif;
    margin-left: 35px;
    line-height: 70px;
}

.body-nav {
    display: inline;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 50px;
    font-weight: bolder;
}
.about-right {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: black;
    width: 120px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    background: linear-gradient(#dcc2ff 0%, #a16eff 100%);
    text-shadow: 1px 1px 1px rgba(255,255,255,0.66);
    box-shadow: 0 1px 1px rgba(0,0,0,0.28);
}
.about-left {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: black;
    width: 120px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    background: linear-gradient(#ffbbff 0%, #ff44ff 100%);
    text-shadow: 1px 1px 1px rgba(255,255,255,0.66);
    box-shadow: 0 1px 1px rgba(0,0,0,0.28);
    margin: 35px;
}
.about {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0,0,0,0.15);
    background-image: linear-gradient(#fed6e3 0%, #ffbcbc 100%);
}
.flex {
    display: flex;
    justify-content: space-around;
    /* align-items: end; */
}
.body-nav li{
    padding: 2.5%;
    display: inline-block;
    flex-direction: row;
    justify-content: space-evenly;
    border-right: #000;
    
}
.original {
    margin: 0 auto;
    max-width: 50%;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.process {
    width: 50%;
    background-color: #FF3366;
    padding: 20px 35px 30px;
    box-sizing: border-box;
    margin-bottom: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}  
.process p {
    color: #fff;
}
#baseball {
    background: url(img/ti-muhousinn1.jpg);
    background-size: 100%;
    opacity: 0.8;
    height: 1050px;
    -webkit-backdrop-filter: blur(24px);
}
#baseball .section-title {
    color: #005FFF;
    padding: 40px 0;
    margin: 0;
    font-size: 100px;
    text-shadow: 3px 3px #5507FF;
}
.baseball-wrap {
    text-align: center;
}
.baseman {
    width: 28%;
    background-color: rgba(51, 51, 51, 0.5);
    padding: 20px 35px 30px;
    box-sizing: border-box;
    margin-top: 500px;
}
.baseman h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}
.baseman p {
    color: #fff;
}
.baseman img {
    width: 100px;
    height: auto;
    margin: 0 auto 10px;
}
.recomend {
    background: url(img/zissekisyoukai1.jpg);
    background-size: cover;
    opacity: 0.7;
    margin-top: 30px;
    height: 1050px;
}
.recomend h3 {
    font-size: 100px;
    color: #990000;
    text-shadow: 5px 5px black;
}
.recomend a {
    font-size: 60px;
    position: relative;
    top: 800px;
    left: 20px;
}
.target {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 770px;
    align-items: center;
    justify-content: center;
}
.target a {
     box-sizing: border-box;
     padding: 5px 30px; 
     font-size: 30px;
     color:#6699FF;
     text-decoration: dashed; 
     cursor: pointer;
     user-select: text;
     border: 1px #333333 solid;
     border-radius: 3px;
     transition: 0.4s ease;
     align-items: center;
     justify-content: space-around;
     background: linear-gradient(#8EF1FF, #13EEFF);
     }

    
.contact {
         background: #FFCCFF;
}
.contact .section-title {
         padding: 40px 0;
         margin: 0;
         text-align: center;
}
.form {
         width: 70%;
         margin: 0 auto;
}
.form > div input {
         margin-bottom: 20px;
         padding: 7px;
}
label {
         display: inline-block;
         width: 30%;
}
input, textarea {
         box-sizing: border-box;
         border: 1px solid #999;
         width: 65%;
}
textarea {
         vertical-align: top;
         height: 15em;
}
.button-submit {
         text-align: center;
}
.button {
         padding: 10px 30px;
         background-color: #000;
         color: #fff;
         margin: 30px 0;
}

.contain {
    font-weight: bold;
}
.contain p {
    text-align: center;
    
  
}
.all {
    background: linear-gradient(#FFCCFF,#FF9999);
}
.back {
    background-color: #fed6e3;
}

#footer{
     height: 80px;
     text-align: center;
     line-height: 80px;
    
}
@media screen and (max-width: 768px) {
    #hamburger {
        width: 40px;
        height: 40px;
        position: absolute;
        cursor: pointer;
        z-index: 100;
        top: 15px;
        right: 20px;
        transition: .4s;
    }
}
#hamburger span {
    position: absolute;
    left: 2px;
    display: block;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transition: .8s;
}
#hamburger span:nth-of-type(1) {
    top: 10px;
}
#hamburger span:nth-of-type(2) {
    top: 20px;
}
#hamburger span:nth-of-type(3) {
    top: 30px;
}
@media screen and (max-width:768px) {
    .body-nav { 
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .original img {
        width: 30%;
    }
}
@media screen and (max-width:768px) {
    .baseman {
        width: 80%;
    }
}
label {
    display: inline-block;
    width: 30%;
}
@media screen and (max-width: 768px) {
    label {
        display: block;
    }
}
.form > div {
    margin: 0 auto;
}
input,textarea {
    width: 100%;
}